<div class="min-h-screen bg-gradient-to-b from-[#FAFAFA] via-white to-[#FAFAFA] py-20 px-6 relative">

  <!-- Hero -->
  <div class="text-center max-w-3xl mx-auto mb-16">
    <h1 class="text-4xl sm:text-5xl font-bold text-gray-800 mb-3">I nostri Specialisti</h1>
    <p class="text-gray-600 text-lg">Professionisti esperti pronti ad aiutarti a crescere personalmente e professionalmente.</p>
  </div>

  <!-- Grid Specialist -->
  <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
    <app-specialist-card 
      *ngFor="let specialist of specialists" 
      [specialist]="specialist"
      class="group relative flex flex-col border border-[#E2E8F0] rounded-2xl shadow-md hover:shadow-2xl transform hover:-translate-y-2 transition-all duration-300 bg-white overflow-hidden p-6"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <h2 class="text-xl font-semibold mb-2 text-gray-800 group-hover:text-[#5EADB1] transition-colors duration-300">
        {{ specialist.name }}
      </h2>
      <p class="text-gray-600 text-sm flex-1">{{ specialist.expertise }}</p>
      <div class="mt-4 flex justify-end">
        <a routerLink="/specialist/{{specialist.id}}" class="text-[#60BFB6] font-bold hover:underline">
          Dettagli
        </a>
      </div>
    </app-specialist-card>
  </div>

</div>
